* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.row-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
     -moz-box-orient: vertical;
     -moz-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  .row-center {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
       -moz-box-orient: horizontal;
       -moz-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 1200px) {
  .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.coloumn-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.relative {
  position: relative;
}
.none {
  display: none;
}
.section-title {
  color: #50e3a4;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}
.section-title__mini {
  color: #50e3a4;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 2.8px;
}
.section-header {
  color: #2e2e2e;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .section-header {
    font-size: 42px;
  }
}
@media (min-width: 1200px) {
  .section-header {
    font-size: 48px;
  }
}
.section__desc {
  color: #808080;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
}
@media (min-width: 768px) {
  .section__desc {
    line-height: 2.1;
  }
}
.avatar {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.button-submit {
  padding: 0 30px;
  height: 60px;
  border: none;
  cursor: pointer;
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
  background-color: #50e3a4;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 2.86;
  text-transform: uppercase;
  letter-spacing: 2.8px;
  -webkit-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  -moz-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
.button-submit:hover,
.button-submit:focus {
  outline: none;
  background-color: #1cb171;
}
.cta {
  z-index: 9;
  color: #2bb279;
  line-height: 1;
  padding: 23px 43px;
  -webkit-border-radius: 35px;
     -moz-border-radius: 35px;
          border-radius: 35px;
  background-color: #ffffff;
}
.cta:hover,
.cta:focus {
  background-color: #e6e6e6;
}
.header {
  position: relative;
  background-color: grey;
  background-image: url("../img/section-bg/img-01.jpg.jpg");
  background-repeat: no-repeat;
  -moz-background-size: cover;
       background-size: cover;
  background-position: center;
  color: #ffffff;
}
.header::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
@media (min-width: 768px) {
  .header {
    height: 568px;
    min-height: auto;
  }
}
@media (min-width: 1200px) {
  .header {
    height: 870px;
  }
}
.header__content {
  position: relative;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 90px;
  padding-bottom: 65px;
}
.header__logo {
  font-size: 62px;
  letter-spacing: 12.4px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 18px;
}
@media (min-width: 768px) {
  .header__logo {
    font-size: 82px;
    letter-spacing: 16.4px;
    margin-bottom: 25px;
  }
}
@media (min-width: 1200px) {
  .header__logo {
    font-size: 96px;
    letter-spacing: 19.2px;
    margin-bottom: 70px;
  }
}
.header__desc {
  max-width: 300px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 21px;
}
@media (min-width: 768px) {
  .header__desc {
    margin-bottom: 70px;
    max-width: 725px;
  }
}
@media (min-width: 1200px) {
  .header__desc {
    letter-spacing: 1.6px;
    font-size: 20px;
    font-weight: 700;
  }
}
.header__desc p {
  margin-bottom: 15px;
}
.header__desc span {
  letter-spacing: 2px;
}
.header__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 520px) {
  .header__form {
    width: 490px;
  }
}
@media (min-width: 768px) {
  .header__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: auto;
  }
}
.header__form-input {
  width: 100%;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .header__form-input {
    width: 200px;
    margin-right: 20px;
    margin-bottom: 0;
  }
}
.header__form-submit .button-submit {
  width: 100%;
  text-align: center;
}
.input {
  width: 100%;
  height: 60px;
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
  padding: 0 30px;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  -webkit-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  -moz-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
.input::-webkit-input-placeholder {
  color: #ffffff;
}
.input:-moz-placeholder {
  color: #ffffff;
}
.input::-moz-placeholder {
  color: #ffffff;
}
.input:-ms-input-placeholder {
  color: #ffffff;
}
.input::-ms-input-placeholder {
  color: #ffffff;
}
.input::placeholder {
  color: #ffffff;
}
.input:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.7);
}
.header__scroll {
  display: none;
}
@media (min-width: 1200px) {
  .header__scroll {
    display: block;
    position: absolute;
    bottom: 120px;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 32px;
    height: 48px;
  }
  .header__scroll a {
    height: 100%;
    display: inline-block;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
  }
  .header__scroll a:hover {
    background-color: #1cb171;
    -webkit-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
  }
}
.header__nav-buttons {
  position: absolute;
  top: 0;
  width: 100%;
}
.header__nav-button {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  cursor: pointer;
}
.header__nav-button:hover {
  background-color: rgba(0, 0, 0, 0.9);
  border: rgba(255, 255, 255, 0.7) 2px solid;
  -webkit-transition: 200ms ease-in;
  -o-transition: 200ms ease-in;
  -moz-transition: 200ms ease-in;
  transition: 200ms ease-in;
}
@media (min-width: 768px) {
  .header__nav-button {
    left: 20px;
    right: auto;
  }
}
@media (min-width: 1200px) {
  .header__nav-button {
    top: 60px;
    left: 54px;
  }
}
.header__search-button {
  display: none;
}
@media (min-width: 768px) {
  .header__search-button {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    cursor: pointer;
  }
  .header__search-button:hover {
    background-color: #1cb171;
    border: rgba(255, 255, 255, 0.7) 2px solid;
    -webkit-transition: 200ms ease-in;
    -o-transition: 200ms ease-in;
    -moz-transition: 200ms ease-in;
    transition: 200ms ease-in;
  }
}
@media (min-width: 1200px) {
  .header__search-button {
    top: 60px;
    right: 54px;
  }
}
.section-functional {
  padding: 75px 0 75px;
  background-color: #fff;
}
@media (min-width: 768px) {
  .section-functional {
    padding: 75px 0 60px;
  }
}
@media (min-width: 1200px) {
  .section-functional {
    padding: 107px 0 63px;
    background-image: url("../img/section-bg/bg-squares.svg");
    background-repeat: no-repeat;
    background-position: center 70px;
    -moz-background-size: auto;
         background-size: auto;
  }
}
.section-functional__title {
  margin-bottom: 35px;
  text-align: center;
}
@media (min-width: 768px) {
  .section-functional__title {
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .section-functional__title {
    margin-bottom: 72px;
  }
}
.section-functional__header {
  margin-bottom: 30px;
  text-align: center;
}
@media (min-width: 768px) {
  .section-functional__header {
    margin-bottom: 45px;
  }
}
@media (min-width: 1200px) {
  .section-functional__header {
    margin-bottom: 85px;
  }
}
.section-functional__benefits {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  .section-functional__benefits {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.section-functional__benefits > * {
  width: 100%;
  max-width: 380px;
  padding: 0 8px;
  margin-bottom: 40px;
}
.section-functional__benefits > *:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .section-functional__benefits > * {
    margin-bottom: 30px;
    padding: 0 40px;
    max-width: unset;
    width: -webkit-calc(50% - 15px);
    width: -moz-calc(50% - 15px);
    width: calc(50% - 15px);
  }
  .section-functional__benefits > *:nth-last-child(2) {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .section-functional__benefits > * {
    width: 270px;
    margin-right: 30px;
    margin-bottom: 0;
    padding: 0 20px;
  }
  .section-functional__benefits > *:last-child {
    margin-right: 0;
  }
}
.benefit {
  text-align: center;
}
.benefit__img {
  height: 90px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  .benefit__img {
    height: 100px;
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .benefit__img {
    margin-bottom: 27px;
  }
}
.benefit__title {
  color: #2e2e2e;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 26px;
}
.benefit__desc {
  color: #808080;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
}
@media (min-width: 1200px) {
  .benefit__desc {
    line-height: 2.14;
  }
}
.section-cta {
  position: relative;
  padding: 75px 0 76px;
  background-color: #0a824e;
  background-image: url("../img/section-bg/section-cta.jpg");
  background-repeat: no-repeat;
  background-position: center 10%;
  -moz-background-size: cover;
       background-size: cover;
  text-align: center;
}
.section-cta::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 130, 78, 0.7);
}
@media (min-width: 768px) {
  .section-cta {
    padding: 75px 0 80px;
  }
}
@media (min-width: 1200px) {
  .section-cta {
    padding: 87px 0 93px;
  }
}
.section-cta__desc {
  z-index: 9;
  color: #ffffff;
  margin-bottom: 40px;
}
.section-cta__desc h3 {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.3;
}
.section-cta__desc span {
  font-weight: 700;
  letter-spacing: 2.2px;
}
@media (min-width: 768px) {
  .section-cta__desc {
    margin-bottom: 55px;
  }
}
@media (min-width: 1200px) {
  .section-cta__desc {
    margin-bottom: 43px;
  }
}
.section-tasks {
  position: relative;
  padding: 75px 0 45px;
  border-bottom: #e1e1e1 1px solid;
}
.section-tasks::before {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
     -moz-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
       -o-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  content: "";
  display: inline-block;
  width: 68px;
  height: 68px;
  background-color: #a4eecb;
}
@media (min-width: 768px) {
  .section-tasks::before {
    display: none;
  }
}
@media (min-width: 1200px) {
  .section-tasks::before {
    z-index: -1;
    display: block;
    top: 50%;
    left: 0;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
       -moz-transform: translate(-50%, -50%) rotate(45deg);
        -ms-transform: translate(-50%, -50%) rotate(45deg);
         -o-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
    width: 187px;
    height: 187px;
  }
}
@media (min-width: 768px) {
  .section-tasks {
    padding: 65px 0 40px;
  }
}
@media (min-width: 1200px) {
  .section-tasks {
    padding: 94px 0 20px;
  }
}
.section-tasks__content {
  max-width: 274px;
  text-align: center;
  margin-bottom: 53px;
}
@media (min-width: 768px) {
  .section-tasks__content {
    max-width: 376px;
    text-align: left;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .section-tasks__content {
    max-width: 540px;
    padding-left: 100px;
  }
}
.section-tasks__img {
  max-width: 202px;
}
@media (min-width: 768px) {
  .section-tasks__img {
    max-width: 270px;
    padding-right: 33px;
  }
}
@media (min-width: 1200px) {
  .section-tasks__img {
    max-width: unset;
    padding-right: 150px;
  }
}
.section-tasks__title {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .section-tasks__title {
    margin-bottom: 50px;
  }
}
@media (min-width: 1200px) {
  .section-tasks__title {
    margin-bottom: 35px;
  }
}
.section-tasks__header {
  margin-bottom: 45px;
}
@media (min-width: 768px) {
  .section-tasks__header {
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .section-tasks__header {
    margin-bottom: 55px;
  }
}
.section-focus {
  position: relative;
  padding-top: 70px;
  padding-bottom: 30px;
  overflow: hidden;
}
.section-focus::before {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
     -moz-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
       -o-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  content: "";
  display: inline-block;
  width: 68px;
  height: 68px;
  background-color: #a4eecb;
}
@media (min-width: 768px) {
  .section-focus::before {
    display: none;
  }
}
@media (min-width: 1200px) {
  .section-focus::before {
    display: block;
    width: 187px;
    height: 187px;
    top: auto;
    left: auto;
    bottom: 50%;
    right: 0;
    -webkit-transform: translate(50%, 50%) rotate(45deg);
       -moz-transform: translate(50%, 50%) rotate(45deg);
        -ms-transform: translate(50%, 50%) rotate(45deg);
         -o-transform: translate(50%, 50%) rotate(45deg);
            transform: translate(50%, 50%) rotate(45deg);
  }
}
@media (min-width: 768px) {
  .section-focus {
    padding-top: 59px;
    padding-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .section-focus {
    padding-top: 80px;
  }
}
.section-focus__img-wrapper {
  position: relative;
  max-width: 470px;
}
@media (min-width: 768px) {
  .section-focus__img-wrapper {
    height: 505px;
    max-width: unset;
    width: 287px;
  }
}
@media (min-width: 1200px) {
  .section-focus__img-wrapper {
    height: 731px;
    width: 470px;
  }
}
.section-focus__img {
  position: static;
  max-width: 100%;
}
@media (min-width: 768px) {
  .section-focus__img {
    position: absolute;
    top: 0;
    right: 0;
    max-width: unset;
    width: auto;
    max-height: 100%;
  }
}
.section-focus__content {
  max-width: 470px;
  padding-bottom: 50px;
  text-align: center;
}
@media (min-width: 768px) {
  .section-focus__content {
    text-align: left;
    max-width: 383px;
  }
}
@media (min-width: 1200px) {
  .section-focus__content {
    max-width: 470px;
    padding-bottom: 130px;
  }
}
.section-focus__title {
  margin-bottom: 40px;
}
@media (min-width: 1200px) {
  .section-focus__title {
    margin-bottom: 50px;
  }
}
.section-focus__header {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .section-focus__header {
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .section-focus__header {
    margin-bottom: 55px;
  }
}
.section-price {
  padding: 75px 0;
  text-align: center;
  position: relative;
  color: #ffffff;
  background-color: #49c38f;
}
@media (min-width: 768px) {
  .section-price {
    padding: 75px 0 80px;
    background-color: grey;
    background-image: url("../img/section-bg/section-price-bg.jpg");
    background-repeat: no-repeat;
    -moz-background-size: cover;
         background-size: cover;
    background-position: center;
  }
  .section-price::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
@media (min-width: 1200px) {
  .section-price {
    padding: 103px 0 90px;
  }
}
.section-price__content {
  position: relative;
  z-index: 2;
  color: #ffffff;
}
.section-price__heading {
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .section-price__heading {
    margin-bottom: 64px;
  }
}
@media (min-width: 1200px) {
  .section-price__heading {
    margin-bottom: 77px;
  }
}
.price-heading {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 3.2px;
  margin-bottom: 37px;
}
@media (min-width: 1200px) {
  .price-heading {
    margin-bottom: 68px;
  }
}
.price-desc {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .price-desc {
    font-size: 42px;
  }
}
@media (min-width: 1200px) {
  .price-desc {
    font-size: 48px;
  }
}
.section-price__plans {
  display: block;
}
@media (min-width: 768px) {
  .section-price__plans {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.plan-box {
  max-width: 290px;
  margin: 0 auto 20px;
  padding-top: 35px;
  padding-bottom: 40px;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.75);
}
.plan-box:last-child {
  margin: 0 auto;
}
.plan-box:hover,
.plan-box:focus {
  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1), 0 10px 30px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1), 0 10px 30px rgba(0, 0, 0, 0.05);
          box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1), 0 10px 30px rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  background-color: rgba(48, 79, 254, 0.95);
  -webkit-transition: 500ms ease;
  -o-transition: 500ms ease;
  -moz-transition: 500ms ease;
  transition: 500ms ease;
}
.plan-box:hover .price-button,
.plan-box:focus .price-button {
  background-color: #ffffff;
  color: #666666;
  -webkit-transition: 500ms ease-in;
  -o-transition: 500ms ease-in;
  -moz-transition: 500ms ease-in;
  transition: 500ms ease-in;
}
@media (min-width: 768px) {
  .plan-box {
    margin: unset;
    margin-right: 24px;
    width: 230px;
    max-width: unset;
  }
  .plan-box:last-child {
    margin: unset;
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .plan-box {
    margin-right: 30px;
    width: 303px;
  }
}
.plan-box__header {
  border-bottom: rgba(255, 255, 255, 0.05) 1px solid;
  padding-bottom: 28px;
}
.plan-box__title {
  color: #b3b3b3;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.7;
  text-transform: uppercase;
  letter-spacing: 2.8px;
  margin-bottom: 34px;
}
@media (min-width: 1200px) {
  .plan-box__title {
    margin-bottom: 15px;
  }
}
.plan-box__cost {
  font-size: 80px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 4px;
  margin-bottom: 41px;
}
@media (min-width: 768px) {
  .plan-box__cost {
    margin-bottom: 36px;
  }
}
@media (min-width: 1200px) {
  .plan-box__cost {
    margin-bottom: 23px;
  }
}
.plan-box__permounth {
  display: inline-block;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  line-height: 1.2;
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.1);
}
.plan-box__desc {
  padding-top: 34px;
}
.plan-box__list {
  list-style-type: none;
  margin-bottom: 40px;
}
@media (min-width: 1200px) {
  .plan-box__list {
    margin-bottom: 35px;
  }
}
.plan-box__list-item {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
}
.plan-box__list-item:last-child {
  margin-bottom: 0;
}
.price-button {
  display: inline-block;
  padding: 18px 30px;
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(0, 0, 0, 0.75);
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase;
  letter-spacing: 2.4px;
}
.section-clients {
  padding: 75px 0 165px;
  background-color: #fff;
}
@media (min-width: 768px) {
  .section-clients {
    padding: 75px 0 80px;
  }
}
@media (min-width: 1200px) {
  .section-clients {
    padding: 107px 0 95px;
    background-image: url("../img/section-bg/bg-clients.svg");
    background-repeat: no-repeat;
    background-position: center 3px;
    -moz-background-size: auto;
         background-size: auto;
  }
}
.section-clients__title {
  margin-bottom: 40px;
  text-align: center;
}
@media (min-width: 768px) {
  .section-clients__title {
    margin-bottom: 35px;
  }
}
@media (min-width: 1200px) {
  .section-clients__title {
    margin-bottom: 75px;
  }
}
.section-clients__header {
  margin-bottom: 83px;
  text-align: center;
}
@media (min-width: 768px) {
  .section-clients__header {
    margin-bottom: 75px;
  }
}
@media (min-width: 1200px) {
  .section-clients__header {
    margin-bottom: 83px;
  }
}
.testimonial-carousel {
  max-width: 770px;
  margin: 0 auto;
}
.testimonial {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 9px;
  max-width: 520px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .testimonial {
    padding: 0;
    max-width: 467px;
  }
}
@media (min-width: 1200px) {
  .testimonial {
    max-width: 750px;
  }
}
.testimonial__text {
  color: #808080;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 2;
  font-weight: 500;
  text-align: center;
  margin-bottom: 46px;
}
.testimonial__text p {
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .testimonial__text {
    font-size: 16px;
    line-height: 2.13;
    margin-bottom: 25px;
  }
}
@media (min-width: 1200px) {
  .testimonial__text {
    font-size: 18px;
    line-height: 2.22;
    margin-bottom: 55px;
  }
}
.testimonial__user {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1200px) {
  .testimonial__user {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.testimonial__user-photo {
  margin-bottom: 20px;
  width: 60px;
  height: 60px;
  overflow: hidden;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
}
@media (min-width: 1200px) {
  .testimonial__user-photo {
    margin-bottom: 0;
    margin-right: 40px;
  }
}
.testimonial__user-name {
  color: #808080;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
  text-align: left;
}
.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  bottom: -40px;
  left: 50%;
  margin-left: 20px;
  -webkit-transform: translateY(100%);
     -moz-transform: translateY(100%);
      -ms-transform: translateY(100%);
       -o-transform: translateY(100%);
          transform: translateY(100%);
  width: 52px;
  height: 52px;
  background-image: url("../img/icons/carousel/button_right.svg");
  background-repeat: no-repeat;
  background-position: center;
  -moz-background-size: auto;
       background-size: auto;
  outline: none;
}
.owl-carousel .owl-nav button.owl-next:hover {
  border: 2px solid;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  border-color: #27d281;
  -webkit-transition: 200ms ease-in;
  -o-transition: 200ms ease-in;
  -moz-transition: 200ms ease-in;
  transition: 200ms ease-in;
}
.owl-carousel .owl-nav button.owl-next span {
  display: none;
}
@media (min-width: 768px) {
  .owl-carousel .owl-nav button.owl-next {
    top: 0;
    right: 0;
    left: auto;
    margin-right: 0;
    -webkit-transform: unset;
       -moz-transform: unset;
        -ms-transform: unset;
         -o-transform: unset;
            transform: unset;
  }
}
@media (min-width: 1200px) {
  .owl-carousel .owl-nav button.owl-next {
    top: 13px;
    right: -40px;
    -webkit-transform: translateX(100%);
       -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
         -o-transform: translateX(100%);
            transform: translateX(100%);
  }
}
.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  bottom: -40px;
  left: 50%;
  margin-left: -20px;
  -webkit-transform: translate(-100%, 100%);
     -moz-transform: translate(-100%, 100%);
      -ms-transform: translate(-100%, 100%);
       -o-transform: translate(-100%, 100%);
          transform: translate(-100%, 100%);
  width: 52px;
  height: 52px;
  background-image: url("../img/icons/carousel/button_left.svg");
  background-repeat: no-repeat;
  background-position: center;
  -moz-background-size: auto;
       background-size: auto;
  outline: none;
}
.owl-carousel .owl-nav button.owl-prev:hover {
  border: 2px solid;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  border-color: #27d281;
  -webkit-transition: 200ms ease-in;
  -o-transition: 200ms ease-in;
  -moz-transition: 200ms ease-in;
  transition: 200ms ease-in;
}
.owl-carousel .owl-nav button.owl-prev span {
  display: none;
}
@media (min-width: 768px) {
  .owl-carousel .owl-nav button.owl-prev {
    top: 0;
    left: 0;
    margin-left: 0;
    bottom: auto;
    -webkit-transform: unset;
       -moz-transform: unset;
        -ms-transform: unset;
         -o-transform: unset;
            transform: unset;
  }
}
@media (min-width: 1200px) {
  .owl-carousel .owl-nav button.owl-prev {
    top: 13px;
    left: -40px;
    -webkit-transform: translateX(-100%);
       -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
         -o-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
.footer {
  padding: 60px 0 60px;
  background-color: #1a1a1a;
}
@media (min-width: 768px) {
  .footer {
    padding: 75px 0 75px;
  }
}
@media (min-width: 1200px) {
  .footer {
    padding: 80px 0 70px;
  }
}
.footer-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px;
}
@media (min-width: 768px) {
  .footer-nav {
    margin-bottom: 55px;
  }
}
@media (min-width: 1200px) {
  .footer-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 52px;
  }
}
.footer-nav__items {
  margin-bottom: 55px;
}
.footer-nav__items a {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}
.footer-nav__items a:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .footer-nav__items a {
    display: inline-block;
    text-align: center;
    margin-bottom: 0px;
    margin-right: 30px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 3.2px;
  }
  .footer-nav__items a:last-child {
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .footer-nav__items {
    margin-bottom: 0;
    margin-right: 34px;
  }
  .footer-nav__items a {
    margin-right: 35px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 3.2px;
  }
  .footer-nav__items a:last-child {
    margin-right: 0;
  }
}
.footer-nav__icons a {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 22px;
  width: 48px;
  height: 48px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
}
.footer-nav__icons a:last-child {
  margin-right: 0;
}
.footer-nav__icons a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: 500ms ease-in;
  -o-transition: 500ms ease-in;
  -moz-transition: 500ms ease-in;
  transition: 500ms ease-in;
}
@media (min-width: 768px) {
  .footer-nav__icons a {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 32px;
    width: 48px;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
  }
  .footer-nav__icons a:last-child {
    margin-right: 0;
  }
  .footer-nav__icons a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-transition: 500ms ease-in;
    -o-transition: 500ms ease-in;
    -moz-transition: 500ms ease-in;
    transition: 500ms ease-in;
  }
}
.footer-copyright {
  max-width: 200px;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.3);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  text-align: center;
}
.footer-copyright span {
  font-weight: 700;
  letter-spacing: 1.4px;
}
@media (min-width: 1200px) {
  .footer-copyright {
    max-width: unset;
  }
}
/*# sourceMappingURL=main.css.map */